# Question 1

In [1]:
a=5
b=5.0
c=5>1
x='5'
y=5 * 2
z='5' * 2
k='5' + '2'
l=5 / 2
m=5 % 2
n={5, 2, 1}
o=5 == 3
import math
print(type(a))
print(type(b))
print(type(c))
print(type(x))
print(type(y))
print(type(z))
print(type(k))
print(type(l))
print(type(m))
print(type(n))
print(type(o))
print(type(math.pi))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'set'>
<class 'bool'>
<class 'float'>

# Question 2

**2 a**

In [ ]:
A= 'Supercalifragilisticexpialidocious'
print(len(A))

34
True

**2 b**

In [4]:
A= 'Supercalifragilisticexpialidocious'
print('ice' in A)

True

### 2c - 'Supercalifragilisticexpialidocious' and 'Bababadalgharaghtakamminarronnkonn' is the longest

In [6]:
W1= 'Supercalifragilisticexpialidocious'
W2= ' Honorificabilitudinitatibus'
W3= 'Bababadalgharaghtakamminarronnkonn'
print(len(W1),len(W2),len(W3))

34 28 34

### 2d

In [ ]:
words = ['Berlioz', 'Borodin', 'Brian','Bartok', 'Bellini', 'Buxtehude', 'Bernstein']
words.sort()
print(words)

['Bartok', 'Bellini', 'Berlioz', 'Bernstein', 'Borodin', 'Brian', 'Buxtehude']

Bartok comes first

# Question 3

In [14]:
import math
def trianglearea(a,b,c):
    s=(a+b+c)/2
    area=math.sqrt((s*(s-a)*(s-b)*(s-c)))
    return area

print(trianglearea(2,2,2))

1.7320508075688772

# Question 4

In [10]:
def oddeven(num):
   evennum = []
   oddnum = []
   for i in num:
      if (i % 2 == 0):
         evennum.append(i)
      else:
         oddnum.append(i)
   print("The even Elements are:", evennum)
   print("The odd Elements are: ", oddnum)

num=list()
n=int(input("Input the number of elements to be stored in the array : "))
print("Input", n ,"Elements in the array")
for x in range(int(n)):
   A=int(input("Element - {} :".format(x)))
   num.append(A)
oddeven(num)

Input the number of elements to be stored in the array : 5
Input 5 Elements in the array
Element - 0 :25
Element - 1 :47
Element - 2 :42
Element - 3 :56
Element - 4 :32
The even Elements are: [42, 56, 32]
The odd Elements are:  [25, 47]

# Question 5

## Question 5a

In [22]:
def inside(x,y,x1,y1,x2,y2):
    if (x1 < x) and (x < x2) and (y1 < y) and (y < y2):
        print(True)
    else:
        print(False)

In [23]:
inside(1,1,0,0,2,3)

True

In [24]:
inside(-1,-1,0,0,2,3)

False

## Question 5b

In [42]:
def inside(x,y,x1,y1,x2,y2,x3,y3,x4,y4):
    if (x1 < x < x2) and (y1 < y < y2) and (x3 < x < x4) and (y3 < y < y4):
        print(True,"The given point is in both rectangles")
    else:
        print(False,"The given point is not in both rectangles")

inside(1,1,0.3,0.5,1.1,0.7,0.5,0.2,1.1,2)

False The given point is not in both rectangles

# Question 6

In [44]:
def pig(text):
  words = text.split()
  for word in words:
    endString = str(word[1:].lower())
    vowel = "aeiou"
    first=word[0].lower()
    if first in vowel:
        them = str(word[0:]).lower(), 'way'
        word = ''.join(them)
        return word
    else:
        them = endString, str(word[0:1]).lower(), 'ay'
        word = ''.join(them)
        return word

print(pig("happy"))
print(pig("Enter"))

appyhay
enterway

# Question 7

In [56]:
f = open('bloodtype1.txt')
contents= f.read()

#bloodtype A
a = contents.count(" A ")
print (contents)
print ("There are ", a, " patients of blood type A")

#bloodtype B
b = contents.count(" B ")
print ("There are ", b, " patients of blood type B")

#bloodtype AB
ab = contents.count(" AB ")
print ("There are ", ab, " patients of blood type AB")

#bloodtype O
o = contents.count(" O ")
print ("There are ", o, " patients of blood type O")

#bloodtype OO
oo = contents.count(" OO ")
print ("There are ", oo, " patients of blood type OO")

AB AB B O A A AB O AB A O O A A A O O O AB O A A A A A AB AB A AB O AB O A O O O AB O AB AB AB A A O

There are  10  patients of blood type A
There are  1  patients of blood type B
There are  10  patients of blood type AB
There are  12  patients of blood type O
There are  0  patients of blood type OO

# Question 8

In [64]:
dictionary = {}
file = open("currencies.txt","r")
for line in file:

    x = line.split("\t")

    a=x[0]
    b=x[1]
    dictionary[a]=b

def curconv(key,value):
    c=float(dictionary[key])*value
    return c

print(curconv('EUR', 100))
print(curconv('JPY', 100))

122.96544
1.241401

# Question 9

In [68]:
6+'a'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [62]:
num_list = [0,1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(num_list[12])

IndexError: list index out of range

In [61]:
import math
math.sqrt(-1.0)

ValueError: math domain error

In [63]:

print(absent)

NameError: name 'absent' is not defined

In [ ]:
f = open('bloodtypo.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'bloodtypo.txt'

# Question 10

In [65]:
Alphabet = [
    'a','b','c','d','e','f','g','h','i','j','k','l','m',
    'n','o','p','q','r','s','t','u','v','w','x','y','z']

def frequencies(word):
    freq = []
    sentence = word.lower()
    for i in range(len(Alphabet)):
        occurrence = sentence.count(Alphabet[i])
        freq.append(occurrence)
    return freq

In [69]:
frequencies('The quick red fox got bored and went home.')

[1, 1, 1, 3, 5, 1, 1, 2, 1, 0, 1, 0, 1, 2, 4, 0, 1, 2, 0, 3, 1, 0, 1, 1, 0, 0]

In [67]:
frequencies('apple')

[1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]